---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { id: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { data } = post;
const { title, description, img, readtime, author, date } = data;

const { Content } = await render(post);
---

<Layout title={`${title}`}>
    <div
        class="max-w-5xl mx-auto py-12 px-6 grid grid-cols-1 md:grid-cols-3 gap-10 text-black"
    >
        <aside class="md:col-span-1">
            <div class="overflow-hidden rounded-2xl shadow-xl">
                <img src={`/${img}`} alt={title} class="w-full object-cover" />
            </div>
        </aside>

        <main class="md:col-span-2">
            <h1 class="text-4xl font-extrabold text-orange-400 mb-4">
                {title}
            </h1>

            <div class="text-sm text-gray-600 mb-4">
                {author && <span class="mr-4">Por {author}</span>}
                {date?.toLocaleDateString()} · {readtime ?? 5} min de lectura
            </div>

            <p class="text-cyan-900 mb-6 text-lg leading-relaxed">
                {description}
            </p>

            <div class="prose prose-lg text-black mb-8">
                <Content />
            </div>
        </main>
    </div>
</Layout>
