---
const { title, subtitle, description, imgUrl } = Astro.props;
---

<section class="flex flex-col items-center justify-center bg-white">
    <div class="max-w-9/12 py-30 lg:max-w-9/12">
        <div class="flex flex-wrap-reverse gap lg:flex-nowrap gap-16">
            <!-- Texto -->
            <div class="flex flex-col gap-4 w-full text-center md:text-left">
                <span
                    class="text-orange-400 font-semibold text-lg md:text-xl uppercase"
                >
                    {subtitle}
                </span>
                <h2
                    class="text-4xl sm:text-4xl md:text-5xl font-bold text-slate-900 leading-tight"
                >
                    {title}
                </h2>
                <p
                    class="mt-2 text-slate-700 text-base md:text-lg leading-relaxed max-w-xl mx-auto md:mx-0"
                >
                    {description}
                </p>
            </div>

            <!-- Imagen con efecto 3D -->
            <div class="relative w-full flex justify-center">
                <!-- Imagen 3D -->
                <img
                    loading="lazy"
                    src={imgUrl}
                    alt={`${title} - Codebrand professional services`}
                    width="400"
                    height="400"
                    class="z-10 w-[260px] h-[260px] sm:w-[300px] sm:h-[300px] md:w-[360px] md:h-[360px] lg:w-[400px] lg:h-[400px] object-cover rounded-[28px]
          transform-3d rotate-x-30 rotate-y-20 rotate-z-5
          transition-all duration-700 hover:rotate-x-0 hover:rotate-y-0 hover:rotate-z-0 hover:scale-105"
                />

                <!-- Fondo decorativo -->
                <div
                    class="absolute w-[260px] h-[260px] sm:w-[300px] sm:h-[300px] md:w-[360px] md:h-[360px] lg:w-[400px] lg:h-[400px] rounded-[28px]
          bg-gradient-to-br from-white/20 to-orange-100/10 p-3 shadow-inner ring-1 ring-inset ring-cyan-900/10 backdrop-blur-md z-0"
                >
                    <div
                        class="w-full h-full rounded-[20px] outline-2 outline-dashed outline-orange-200/30"
                    >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
