---
interface Props {
    icon: string;
    title: string;
    description: string;
    learnMoreUrl?: string;
}

const { icon, title, description, learnMoreUrl } = Astro.props;
---

<div
    class="container-card-service w-full max-w-screen-xl p-6 rounded-xl border border-gray-300
          cursor-pointer transition-all duration-300
         bg-white hover:bg-lime-300 hover:shadow-sm hover:scale-105 flex flex-col items-start gap-4"
>
    <!-- Ícono -->
    <div
        class="flex items-center justify-center w-15 h-15 rounded-full bg-gray-100 mb-4"
    >
        <img src={icon} alt={title} class="w-6 h-6" />
    </div>

    <!-- Título -->
    <h3 class="text-lg font-bold text-black">{title}</h3>

    <!-- Descripción -->
    <p class="text-gray-600 text-sm mt-2">{description}</p>

    <!-- Botón dinámico visible solo en hover -->
    <div class="learn-more-btn opacity-0 transition-opacity duration-300">
        <a
            href={learnMoreUrl}
            class="mt-4 inline-block text-black font-semibold hover:underline"
        >
            Learn More →
        </a>
    </div>
</div>

<style>
    .container-card-service:hover .learn-more-btn {
        opacity: 1;
        color: black;
    }
</style>
